/*

               _ _      ___            _                    
  _ __  ___ __| (_)__ _|_  )__ ___  __| |___   __ ___ _ __  
 | '  \/ -_) _` | / _` |/ // _/ _ \/ _` / -_)_/ _/ _ \ '  \ 
 |_|_|_\___\__,_|_\__,_/___\__\___/\__,_\___(_)__\___/_|_|_|
                                                            
                                                            
License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/
Author: R. Alejandro Sánchez

Nota: Querido programador / diseñador web, este
tema se realizó completamente desde cero, si es
de tu agrado, puedes visualizar el código comentado 
desde mi cta de github: RbnAlexs/media2code. 

No te permitas replicar el sitio por completo, 
es poco profesional y no llegarás a tener la 
libertad de crear algo propio.

Recuerda - >  sé orginal y comparte código!

*/




  @import url('css/style.css');

  